.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  
  .item-1 {
      
      padding-right: 1rem;
  }
  
  .scroll-item-1 {
      width: 100%;
      height: 450px;
      overflow: hidden;
      overflow-y: scroll;
  }

  .scroll-item-2 {
    width: 100%;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.item-3 {
    width: 60%;
    padding-right: 1rem;
}

.scroll-item-3 {
    width: 100%;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}

.imageContainer {
    float: right;
}
