th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    text-align: left;
    color: black;
    height:50px;
    width:200px
    
  }
  td{
    border: 1px solid #ddd;
    padding: 8px;
    height:50px;
    width:200px
  }
  table {
    width: 100%;
  }
 