.link{
  text-decoration: none;
  color:black;

}
h1{
  color: #084587;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  position: fixed;
  padding: 4rem 4rem 4rem 4rem;
  background-color:#4D97F8;
  height: 100%;
}

.flex-box-container {
  height: 100%;
  width: 92vw;
  border-radius: 40px;
  display: flex;
  align-items: stretch;
}


.sidebar-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px 0 0 40px;
  padding: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18.5%;

  
}




.sidebar-menu ul li {
  text-align: left;
  color: black;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.sidebar-menu ul li i {
  padding-right: 10px;
}

.sidebar-menu ul li:hover {
    cursor: pointer;
    background: #4D97F8;
    color: #fff;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}    

.logout i {
  font-size: 25px;
  padding-right: 20px;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 40px 40px 0;
  padding: 45px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 81.5%;
}

.grid-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
  border-radius: 25px;
}

.grid-item-2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 65%;
  max-height: 100%;
  padding: 2rem;
  border-radius: 25px;
}

.grid-item-3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 85%;
  max-height: 100%;
  padding: 2rem;
  border-radius: 25px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.profile {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.profileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 50%;
}

/*.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}*/

.profileImg:hover {
  cursor: pointer;
}
  
.logout {
  text-align: center;
  position: sticky;
  top: 100%;
}

.logout-btn {
  font-size: 20px;
}

.logout ul li {
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.logout ul li:hover {
    cursor: pointer;
    background: #4D97F8;
    color: #fff;
    border-radius: 100px 100px 100px 100px;
}   





/* width */
::-webkit-scrollbar {
  width: 20px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4D97F8; 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3370FF; 

}

.left {  
  
  position: absolute;
  right: 250px;
  width: 200px;
  position: absolute;
  height: 200px;
  margin-top: 100px;
  

  
 
  }